/*共通*/
.inner {
  margin: 0 auto;
  max-width: 1000px;
}

[v-cloak] {
  display: none;
}

.common-body {
  background-color: $base-color;
}

.g-main {
  margin-bottom: 120px;
}

.input-hidden {
  display: none;
}