.report-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 80px;
  row-gap: 60px;
  &__item {
    background-color: $accent-color;
    box-shadow: 0 10px 24px -10px $border-color;
    width: 280px;
  }
}

.report-cell {
  display: $f;
  flex-direction: $col;
  height: 100%;
  line-height: $line-height-base;
  letter-spacing: .05em;
  &__link:hover {
    opacity: .8;
    .report-cell__photo img {
      transform: scale(1.2);
    }
  }
  &__photo {
    margin-bottom: 10px;
    overflow: hidden;
    height: 160px;
    img {
      transition-duration: .8s;
      transition-property:transform;
    }
  }
  &__header {
    padding: 0 10px;
    margin-bottom: 10px;
  }
  &__date {
    color: #444;
    font-size: 14px;
  }

  &__body {
    padding: 0 10px;
    margin-bottom: 20px;
  }
  &__footer {
    padding: 0 10px;
    margin-bottom: 20px;
    .tags {
      display: $f;
      font-size: 14px;
      &__item {
        border: 1px solid $border-color;
        padding: 2px 4px;
        margin-right: 10px;
        transition: .4s;
        &:hover {
          border-color: $base-color;
        }
      }
    }
  }
  &__favorite {
    border: 1px solid $border-color;
    margin-top: auto;
    &__link {
      background-color: #ccc;
      display: $f;
      justify-content: $c;
      padding: 10px;
      &:hover {
        /*斜め線のストライプ*/
        background-image: linear-gradient(
        -45deg,
        $border-color 25%,
        $white 25%,
        $white 50%,
        $border-color 50%,
        $border-color 75%,
        $white 75%,
        $white
        );
        background-size: 8px 8px;
      }
    }
    .is-favorite {
      color: $yellow;
      text-align: center;
      font-size: 24px;
    }
  }
}