/*Colors*/
$white: #eee;
$black: #222;
$yellow: #ffed4a;
$border-color: #aaa;

/*FlexBox*/
$f: flex;
$sb: space-between;
$c: center;
$col: column;
$fe: flex-end;

/*GoogleFont*/
$kreon: 'Kreon', serif;

// Typography
$line-height-base: 1.6;
$letter-spacing-base: .25em;

//　MainColor
$main-color: #3cba5f;

// //　Base
$base-color: #dce8e0;

// // Accent
$accent-color: #F2F4F6;

//Width
$nav-width: 1000px;