@charset "UTF-8";

/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

li {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  color: inherit;
  text-decoration: none;
}

/* change colours to suit your needs */

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

img {
  max-width: 100%;
}

/*フォーム要素のスタイルをリセット*/

input,
textarea {
  padding: 0;
  border: none;
  border-radius: 0;
  outline: none;
}

textarea {
  resize: none;
}

select {
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  outline: none;
}

/*Colors*/

/*SnsColor*/

/*FlexBox*/

/*GoogleFont*/

/*共通*/

.inner {
  margin: 0 auto;
  max-width: 1000px;
}

[v-cloak] {
  display: none;
}

.common-body {
  background-color: #dce8e0;
}

.g-main {
  margin-bottom: 120px;
}

.input-hidden {
  display: none;
}

/*グローバルヘッダー*/

.g-header {
  margin-bottom: 60px;
}

/*ユーザー関連*/

.user-wrapper {
  margin-bottom: 20px;
}

/*ユーザーガイド*/

.user-guide {
  background-color: #222;
}

.user-guide__inner {
  color: #eee;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  font-size: 14px;
  padding: 10px 15px;
}

.user-guide__to-top__anchor:hover {
  border-bottom: 1px solid #eee;
}

.user-guide__groups {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
}

.user-guide__groups .user-guide__account {
  display: -webkit-box;
  display: flex;
  margin-right: 10px;
}

.user-guide__groups .user-guide__account__link__anchor {
  color: #eee;
}

.user-guide__groups .user-guide__account__link__anchor:hover {
  border-bottom: 1px solid #eee;
}

.user-guide__groups .user-guide__account__link:first-child {
  margin-right: 10px;
}

.user-guide__language {
  border-left: 2px solid #888;
  padding-left: 10px;
  position: relative;
}

.user-guide__language .language-btn {
  color: #eee;
  font-size: 14px;
}

.language-nav {
  display: none;
  position: absolute;
  top: 30px;
  left: -30px;
  background-color: #eee;
  border: 2px solid #aaa;
  width: 140px;
}

.language-nav__list {
  color: #333;
  font-size: 12px;
  letter-spacing: 0.05em;
  margin-bottom: 10px;
  padding: 10px 20px;
}

.language-nav__list:hover {
  background-color: #dce8e0;
}

.language-nav__list:last-child {
  margin-bottom: 0;
}

/*ユーザーコンテンツ*/

.user-contents {
  background: #3cba5f;
}

.user-contents__inner {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  padding: 20px;
}

.user-contents .app-title {
  color: #eee;
  font-family: "Kreon", serif;
  font-size: 48px;
  letter-spacing: 0.25em;
}

.user-contents__nav {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
}

.user-contents__nav__items {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
          align-items: center;
  width: 80px;
}

.user-contents__nav__items > li {
  font-size: 24px;
  margin-right: 10px;
}

.user-contents__nav__items > li:last-child {
  margin-right: 0;
}

.user-contents__nav__items .favorites {
  color: #ffed4a;
}

.user-contents__nav__items .signout {
  font-size: 14px;
}

.account-nav {
  cursor: pointer;
  position: relative;
}

.account-nav:hover .account-nav__lists {
  display: block;
}

.account-nav .fa-user-circle {
  color: #eee;
}

.account-nav__lists {
  color: #333;
  display: none;
  font-size: 12px;
  background-color: #eee;
  border: 2px solid #aaa;
  padding: 8px 5px;
  width: 88px;
  position: absolute;
  top: 40px;
  left: 0;
}

.account-nav__lists > li {
  border-bottom: 1px solid #aaa;
  line-height: 1.5;
  margin-bottom: 10px;
}

.account-nav__lists > li:last-child {
  margin-bottom: 0;
}

.account-nav__lists::after,
.account-nav__lists::before {
  content: "";
  border: 10px solid transparent;
  border-bottom-color: #eee;
  position: absolute;
  left: 0;
  top: -20px;
  height: 0;
  width: 0;
}

/*グローバルナビ*/

.g-nav {
  background-color: #F2F4F6;
  border-bottom: 4px solid #3cba5f;
  margin-bottom: 40px;
}

.g-nav > ul {
  display: -webkit-box;
  display: flex;
  max-width: 1000px;
  margin: 0 auto;
}

.g-nav__list {
  font-size: 14px;
  letter-spacing: 0.25em;
  width: 160px;
  padding: 5px 0;
  /*current*/
}

.g-nav__list > a {
  border-left: 2px solid #ccc;
  display: block;
  text-align: center;
  padding: 5px 0;
}

.g-nav__list:first-child > a,
.g-nav__list.current + .g-nav__list > a {
  border-left: none;
}

.g-nav__list.current {
  background: #3cba5f;
  border-radius: 10px 10px 0 0;
  color: #eee;
  font-weight: bold;
  position: relative;
  top: -4px;
}

.g-nav__list.current > a {
  border-left: none;
}

.g-nav__list.current::after {
  background: inherit;
  content: "";
  display: block;
  position: absolute;
  bottom: -4px;
  left: 0;
  width: -webkit-fill-available;
  height: 4px;
}

/*検索機能*/

.g-searcher-inner {
  background-color: #3cba5f;
  padding: 20px 20px 20px 80px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-flow: row wrap;
  /*ページ検索*/
  /*日付検索*/
  /*キーワード検索*/
  /*カテゴリ検索*/
}

.g-searcher-inner .search-item {
  height: 36px;
}

.g-searcher-inner .search-item > * {
  height: 100%;
}

.g-searcher-inner .g-search-page {
  position: relative;
}

.g-searcher-inner .g-search-page__type {
  background-color: #dce8e0;
  border: 1px solid #aaa;
  cursor: pointer;
  font-size: 12px;
  padding: 0 8px 0 20px;
  width: 100px;
}

.g-searcher-inner .g-search-page::after {
  content: "";
  position: absolute;
  right: 10px;
  top: 40%;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  height: 8px;
  width: 8px;
  border-right: 2px solid #aaa;
  border-bottom: 2px solid #aaa;
}

.g-searcher-inner .g-search-date__input {
  border: 1px solid #aaa;
  font-size: 12px;
  padding: 0 8px;
}

.g-searcher-inner .g-search-keyword {
  border: 1px solid #aaa;
  display: -webkit-box;
  display: flex;
}

.g-searcher-inner .g-search-keyword__input {
  font-size: 16px;
  padding: 0 8px;
  width: 560px;
}

.g-searcher-inner .g-search-keyword__button {
  background-color: #dce8e0;
  color: #fff;
  font-size: 16px;
  width: 40px;
}

.g-searcher-inner .g-search-categories {
  display: -webkit-box;
  display: flex;
  font-size: 12px;
  padding-top: 10px;
  height: auto;
  width: 100%;
  letter-spacing: 0.05em;
}

.g-searcher-inner .g-search-categories__label {
  padding-left: 18px;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  margin-right: 8px;
}

.g-searcher-inner .g-search-categories__label:last-child {
  margin-right: 0;
}

.g-searcher-inner .g-search-categories__box {
  display: none;
}

.g-searcher-inner .g-search-categories__box:checked + span::after {
  opacity: 1;
}

.g-searcher-inner .g-search-categories span {
  position: relative;
  /*チェックボックス*/
  /*ボックス*/
  /*チェック*/
}

.g-searcher-inner .g-search-categories span::before,
.g-searcher-inner .g-search-categories span::after {
  position: absolute;
  content: "";
}

.g-searcher-inner .g-search-categories span::before {
  background-color: #eee;
  top: 0;
  left: -18px;
  width: 14px;
  height: 14px;
  border: 2px solid #aaa;
  border-radius: 4px;
}

.g-searcher-inner .g-search-categories span::after {
  border-right: 3px solid #555;
  border-bottom: 3px solid #555;
  left: -14px;
  top: 2px;
  width: 5px;
  height: 9px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  opacity: 0;
  z-index: 1;
}

/*グローバルフッター*/

.g-footer {
  background-color: #3cba5f;
  letter-spacing: 0.05em;
}

.footer-nav {
  background-color: #F2F4F6;
  padding: 10px 0;
}

.footer-nav > ul {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  margin: 0 auto;
  max-width: 1000px;
}

.footer-nav__list {
  border-right: 2px solid #aaa;
  line-height: 1.6;
  font-size: 12px;
  text-align: center;
  width: 140px;
}

.footer-nav__list:last-child {
  border: none;
}

.footer-inner {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  padding: 20px;
}

.footer-inner .copy-right {
  color: #eee;
  font-weight: bold;
  font-size: 14px;
}

.language-list-box {
  display: -webkit-box;
  display: flex;
}

.language-list-box .label {
  font-size: 14px;
  margin-right: 10px;
}

.language-list-box .breadcrumb-language {
  display: -webkit-box;
  display: flex;
  font-size: 12px;
}

.language-list-box .breadcrumb-language__list {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  margin-right: 10px;
}

.language-list-box .breadcrumb-language__list::before {
  content: ">";
  padding-right: 5px;
}

.language-list-box .breadcrumb-language__list:last-child {
  margin-right: 0;
}

.daily-report__top-title {
  display: none;
}

.daily-report__frame {
  background-color: #F2F4F6;
  padding: 20px;
}

.report-operation {
  margin-bottom: 30px;
}

.report-operation__nav {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: end;
          justify-content: flex-end;
}

.report-operation__nav__list {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  margin-right: 10px;
}

.report-operation__nav__list:last-child {
  margin-right: 0;
}

.report-operation__nav__list:hover {
  opacity: 0.8;
}

.report-operation__nav__list .btn {
  border-radius: 2px;
  color: #eee;
  font-size: 16px;
  letter-spacing: 0.05em;
  padding: 4px 8px;
}

.report-operation__nav__list .btn span {
  margin-right: 2px;
}

.report-operation__nav__list .create-btn {
  background-color: #3cba5f;
}

.report-operation__nav__list .delete-btn {
  background-color: #ff4500;
}

.report-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  -webkit-column-gap: 80px;
     -moz-column-gap: 80px;
          column-gap: 80px;
  row-gap: 60px;
}

.report-list__item {
  background-color: #F2F4F6;
  box-shadow: 0 10px 24px -10px #aaa;
}

.report-cell {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  height: 100%;
  line-height: 1.6;
  letter-spacing: 0.05em;
}

.report-cell__link:hover {
  opacity: 0.8;
}

.report-cell__link:hover .report-cell__photo img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.report-cell__photo {
  margin-bottom: 10px;
  overflow: hidden;
  height: 160px;
}

.report-cell__photo img {
  -webkit-transition-duration: 0.8s;
          transition-duration: 0.8s;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
}

.report-cell__header {
  padding: 0 10px;
  margin-bottom: 10px;
}

.report-cell__date {
  color: #444;
  font-size: 14px;
}

.report-cell__body {
  padding: 0 10px;
  margin-bottom: 20px;
}

.report-cell__footer {
  padding: 0 10px;
  margin-bottom: 20px;
}

.report-cell__footer .tags {
  display: -webkit-box;
  display: flex;
  font-size: 14px;
}

.report-cell__footer .tags__item {
  border: 1px solid #aaa;
  padding: 2px 4px;
  margin-right: 10px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.report-cell__footer .tags__item:hover {
  border-color: #dce8e0;
}

.report-cell__favorite {
  border: 1px solid #aaa;
  margin-top: auto;
}

.report-cell__favorite__link {
  background-color: #ccc;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  padding: 10px;
}

.report-cell__favorite__link:hover {
  /*斜め線のストライプ*/
  background-image: linear-gradient(-45deg, #aaa 25%, #eee 25%, #eee 50%, #aaa 50%, #aaa 75%, #eee 75%, #eee);
  background-size: 8px 8px;
}

.report-cell__favorite .is-favorite {
  color: #ffed4a;
  text-align: center;
  font-size: 24px;
}

/*新規作成画面---------------------------------------------*/

.create-form__content-wrapper {
  border: 1px solid #aaa;
  margin-bottom: 20px;
}

.create-form__content-wrapper .textarea {
  font-size: 14px;
  min-height: 160px;
  padding: 10px;
  width: 100%;
}

.create-form__input {
  padding: 5px;
}

.create-form__input.title {
  font-size: 16px;
  width: 100%;
}

.create-form__btn-wrapper {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: end;
          justify-content: flex-end;
}

.create-form__btn-wrapper .btn {
  background-color: #3cba5f;
  border-radius: 2px;
  color: #eee;
  font-size: 16px;
  letter-spacing: 0.05em;
  margin-right: 10px;
  padding: 5px 10px;
}

.create-form__btn-wrapper .btn:hover {
  opacity: 0.8;
}

.create-form__btn-wrapper .btn.reset {
  background-color: #1E90FF;
}

.create-form__btn-wrapper .btn:last-child {
  margin-right: 0;
}

/*確認画面---------------------------------------------*/

.contents-text {
  background-color: #eee;
  border: 1px solid #aaa;
  font-size: 14px;
  margin-bottom: 30px;
  height: 120px;
  overflow-x: scroll;
  line-height: 1.5;
  padding: 10px;
}

.confirm-area {
  border: 1px solid #aaa;
  background-color: #eee;
  display: -webkit-box;
  display: flex;
  margin-left: auto;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.confirm-area__message {
  border-right: 1px solid #aaa;
  color: #333;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  font-size: 14px;
  letter-spacing: 0.05em;
  padding: 5px 10px;
}

.confirm-area .confirm-btn-wrapper {
  padding: 5px 10px;
}

.confirm-area .confirm-btn-wrapper .btn {
  background-color: #3cba5f;
  border-radius: 2px;
  color: #eee;
  font-size: 14px;
  letter-spacing: 0.05em;
  margin-right: 10px;
  padding: 5px 10px;
}

.confirm-area .confirm-btn-wrapper .btn:hover {
  opacity: 0.8;
}

.confirm-area .confirm-btn-wrapper .btn.reset {
  background-color: #1E90FF;
}

.confirm-area .confirm-btn-wrapper .btn:last-child {
  margin-right: 0;
}

/*ページタイトル*/

.contents-page-title {
  background-color: #3cba5f;
  border-radius: 2px;
  color: #eee;
  font-size: 28px;
  font-family: "Kreon", serif;
  line-height: 1.5;
  letter-spacing: 0.025em;
  margin-bottom: 40px;
  padding: 5px 20px;
}

.contents-page-title .sub-title {
  font-size: 22px;
}

/*コンテンツ詳細*/

.contents-definition-list {
  background-color: #eee;
  border: 1px solid #aaa;
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.contents-definition-list .required {
  color: #ff8f66;
}

.contents-definition-list > dt {
  border-right: 1px solid #aaa;
  display: -webkit-box;
  display: flex;
  font-family: "Kreon", serif;
  -webkit-box-align: center;
          align-items: center;
  padding: 10px;
  width: 30%;
}

.contents-definition-list > dd {
  font-size: 14px;
  padding: 5px;
  width: 70%;
}

.contents-definition-list > dt,
.contents-definition-list > dd {
  border-bottom: 1px solid #aaa;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
}

.contents-definition-list > dt:last-of-type,
.contents-definition-list > dd:last-of-type {
  border-bottom: none;
}

/*カテゴリー*/

.contents-category-wrapper {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: start;
          align-items: flex-start;
  width: 100%;
  /*セレクトボックス*/
}

.contents-category-wrapper .category-select-wrapper {
  position: relative;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin-right: 10px;
}

.contents-category-wrapper .category-select-wrapper::after {
  content: "";
  position: absolute;
  right: 10px;
  top: 30%;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  height: 8px;
  width: 8px;
  border-right: 2px solid #aaa;
  border-bottom: 2px solid #aaa;
}

.contents-category-wrapper .category-select-wrapper .select {
  background-color: #F2F4F6;
  border: 1px solid #aaa;
  border-radius: 4px;
  padding: 2px 20px 2px 10px;
}

.category-tag-wrapper {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
          justify-content: space-between;
}

.category-tag-wrapper .category-tag {
  background-color: #ddd;
  border: 1px solid #aaa;
  display: -webkit-box;
  display: flex;
  font-size: 12px;
  -webkit-box-align: center;
          align-items: center;
  letter-spacing: 0.05em;
  margin-left: 10px;
  margin-bottom: 5px;
  padding: 2px 4px;
}

.category-tag-wrapper .category-tag:first-child {
  margin-left: 0;
}

.category-tag-wrapper .category-tag:nth-child(n+9) {
  margin-bottom: 0;
}

.category-tag-wrapper .category-tag:last-child {
  margin-right: 0;
}

.category-tag-wrapper .category-tag .tag {
  margin-right: 2px;
}

.category-tag-wrapper .category-tag .delete-btn {
  cursor: pointer;
  width: 12px;
  height: 12px;
}

.category-tag-wrapper .category-tag .delete-btn:hover {
  opacity: 0.6;
}

/*エラーメッセージ プロジェクト共通にするかは未定*/

.alert {
  color: #ff4500;
  font-size: 14px;
  line-height: 1.5;
  padding: 10px;
}

