@charset "UTF-8";

/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

li {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  color: inherit;
  text-decoration: none;
}

/* change colours to suit your needs */

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

img {
  max-width: 100%;
}

/*フォーム要素のスタイルをリセット*/

input,
textarea {
  padding: 0;
  border: none;
  border-radius: 0;
  outline: none;
}

textarea {
  resize: none;
}

select {
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  outline: none;
}

/*Colors*/

/*SnsColor*/

/*FlexBox*/

/*GoogleFont*/

/*共通*/

.inner {
  margin: 0 auto;
  max-width: 1000px;
}

.common-body {
  background-color: #dce8e0;
}

.g-main {
  margin-bottom: 120px;
}

.top-body {
  background-color: #3cba5f;
}

.top-wrapper {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  margin: 0 auto;
  max-width: 680px;
  height: 100vh;
}

.top-wrapper .top-inner {
  width: 680px;
}

.top-title {
  margin-bottom: 80px;
}

.top-title .welcome-to-history-bag {
  color: #eee;
  font-size: 48px;
  font-family: "Kreon", serif;
  letter-spacing: 0.08em;
  line-height: 1.2;
  letter-spacing: 0.25em;
  margin-bottom: 80px;
  position: relative;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.top-title .welcome-to-history-bag span {
  display: block;
  position: absolute;
  font-size: 40px;
  left: 50%;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.top-title .history-bag-details {
  color: #eee;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0.08em;
}

/*認証画面*/

.signup-wrapper {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
          align-items: baseline;
  margin-bottom: 40px;
}

.signup-wrapper .signup-text--or {
  color: #eee;
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
}

.normal-signup-form {
  width: 400px;
}

.normal-signup-form .form-group {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
}

.normal-signup-form .form-group:nth-of-type(3) {
  margin-bottom: 40px;
}

.normal-signup-form .form-group__label {
  color: #eee;
  width: 120px;
}

.normal-signup-form .form-group__input {
  border-radius: 8px;
  padding: 8px;
  width: 260px;
}

.normal-signup-form__btn-area .btn {
  border: 2px solid #eee;
  border-radius: 4px;
  color: #eee;
  font-size: 16px;
  letter-spacing: 0.08em;
  padding: 10px;
}

.social-signup {
  width: 200px;
}

.social-signup .type-sns {
  background-color: #eee;
  border-radius: 6px;
  box-shadow: 0 1px 2px 0 #aaa, 0 1px 0 0 #aaa inset;
  background-color: #dce8e0;
  color: #333;
  font-size: 14px;
  letter-spacing: 0.05em;
  margin-bottom: 20px;
}

.social-signup .type-sns:last-child {
  margin-bottom: 0;
}

.social-signup .type-sns:hover {
  opacity: 0.8;
}

.social-signup .type-sns__link {
  display: block;
  padding: 8px;
}

.social-signup .type-sns .fab {
  margin-right: 5px;
  font-size: 16px;
}

.social-signup .type-sns .twitter-icon {
  color: #66A8E2;
  background-color: #eee;
}

.social-signup .type-sns .google-icon {
  color: #EA4334;
}

.social-signup .type-sns .github-icon {
  color: #333333;
}

.top-signin {
  color: #333;
  font-size: 13px;
  padding: 10px 0;
  letter-spacing: 0.05em;
  text-align: right;
}

.top-signin__link {
  color: #00F;
  text-decoration: underline;
}

