.daily-report {
  &__top-title {
    display: none;
  }
  &__frame {
    background-color: $accent-color;
    padding: 20px;
  }
}

.report-operation {
  margin-bottom: 30px;
  &__nav {
    display: $f;
    justify-content: $fe;
    &__list {
      display: $f;
      align-items: $c;
      margin-right: 10px;
      &:last-child {
        margin-right: 0;
      }
      &:hover {
        opacity: .8;
      }
      .btn {
        border-radius: 2px;
        color: $white;
        font-size: 16px;
        letter-spacing: 0.05em;
        padding: 4px 8px;
        span {
          margin-right: 2px;
        }
      }
      .create-btn {
        background-color: $main-color;
      }
      .delete-btn {
        background-color: $red;
      }
    }
  }
}

.report-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 80px;
  row-gap: 60px;
  &__item {
    background-color: $accent-color;
    box-shadow: 0 10px 24px -10px $border-color;
  }
}

.report-cell {
  display: $f;
  flex-direction: $col;
  height: 100%;
  line-height: $line-height-base;
  letter-spacing: .05em;
  &__link:hover {
    opacity: .8;
    .report-cell__photo img {
      transform: scale(1.2);
    }
  }
  &__photo {
    margin-bottom: 10px;
    overflow: hidden;
    height: 160px;
    img {
      transition-duration: .8s;
      transition-property:transform;
    }
  }
  &__header {
    padding: 0 10px;
    margin-bottom: 10px;
  }
  &__date {
    color: #444;
    font-size: 14px;
  }

  &__body {
    padding: 0 10px;
    margin-bottom: 20px;
  }
  &__footer {
    padding: 0 10px;
    margin-bottom: 20px;
    .tags {
      display: $f;
      font-size: 14px;
      &__item {
        border: 1px solid $border-color;
        padding: 2px 4px;
        margin-right: 10px;
        transition: .4s;
        &:hover {
          border-color: $base-color;
        }
      }
    }
  }
  &__favorite {
    border: 1px solid $border-color;
    margin-top: auto;
    &__link {
      background-color: #ccc;
      display: $f;
      justify-content: $c;
      padding: 10px;
      &:hover {
        /*斜め線のストライプ*/
        background-image: linear-gradient(
        -45deg,
        $border-color 25%,
        $white 25%,
        $white 50%,
        $border-color 50%,
        $border-color 75%,
        $white 75%,
        $white
        );
        background-size: 8px 8px;
      }
    }
    .is-favorite {
      color: $yellow;
      text-align: center;
      font-size: 24px;
    }
  }
}

/*新規作成画面---------------------------------------------*/
.create-form {
  &__content-wrapper {
    border: 1px solid $border-color;
    margin-bottom: 20px;
    .textarea {
      font-size: 14px;
      min-height: 160px;
      padding: 10px;
      width: 100%;
    }
  }

  &__input {
    padding: 5px;
    &.title {
      font-size: 16px;
      width: 100%;
    }
  }
  &__btn-wrapper {
    display: $f;
    justify-content: $fe;
    .btn {
      background-color: $main-color;
      border-radius: 2px;
      color: $white;
      font-size: 16px;
      letter-spacing: .05em;
      margin-right: 10px;
      padding: 5px 10px;
      &:hover {
        opacity: .8;
      }
      &.reset {
        background-color: $blue;
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }
}

/*確認画面---------------------------------------------*/
.contents-text {
  background-color: $white;
  border: 1px solid $border-color;
  font-size: 14px;
  margin-bottom: 30px;
  height: 120px;
  overflow-x: scroll;
  line-height: 1.5;
  padding: 10px;
}

.confirm-area {
  border: 1px solid $border-color;
  background-color: $white;
  display: $f;
  margin-left: auto;
  width: max-content;
  &__message {
    border-right: 1px solid $border-color;
    color: $text-color;
    display: $f;
    align-items: $c;
    font-size: 14px;
    letter-spacing: .05em;
    padding: 5px 10px;
  }
  .confirm-btn-wrapper {
    padding: 5px 10px;
    .btn {
      background-color: $main-color;
      border-radius: 2px;
      color: $white;
      font-size: 14px;
      letter-spacing: .05em;
      margin-right: 10px;
      padding: 5px 10px;
      &:hover {
        opacity: .8;
      }
      &.reset {
        background-color: $blue;
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }
}